
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <h1><%= @list.name %></h1>
</div>

<div class="container pt-3">
  <div class="row">
    <div class="col-8">
      <div class="cards" style="width: 50rem;">
        <% @bookmarks.each do |bookmark| %>
          <div class="card-category mb-3">
            <img src= <%= bookmark.movie.poster_url %> class="card-img-top" alt=<%= bookmark.movie.title %>>
            <div class="card-body p-1">
              <h5 class="card-title"><%= bookmark.movie.title %> - <%= bookmark.movie.rating %>⭐</h5>
              <p class="card-text"><%= bookmark.movie.overview %></p>
              <div class="d-flex flex-column align-items end">
                <h6>Comment: </h6>
                <p class="card-text">"<em><%= bookmark.comment %></em>"</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="add-form col-4">
      <h3>Add new bookmark</h3>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie %>
        <%= f.button :submit , class:"btn btn-primary w-100"%>
      <% end %>
      <br>
      <%= link_to "Back to All Lists", lists_path, class:"btn btn-secondary w-100"%>
    </div>
  </div>
</div>
